azure-functions
azure-functions-worker
grpcio
grpcio-tools
protobuf
six
cryptography==2.6.1
adal
asn1crypto
astroid
azure
azure-applicationinsights
azure-batch
azure-common
azure-cosmosdb-nspkg
azure-cosmosdb-table
azure-datalake-store
azure-eventgrid
azure-graphrbac
azure-keyvault
azure-loganalytics
azure-mgmt
azure-mgmt-advisor
azure-mgmt-applicationinsights
azure-mgmt-authorization
azure-mgmt-batch
azure-mgmt-batchai
azure-mgmt-billing
azure-mgmt-cdn
azure-mgmt-cognitiveservices
azure-mgmt-commerce
azure-mgmt-compute
azure-mgmt-consumption
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-cosmosdb
azure-mgmt-datafactory
azure-mgmt-datalake-analytics
azure-mgmt-datalake-nspkg
azure-mgmt-datalake-store
azure-mgmt-datamigration
azure-mgmt-devspaces
azure-mgmt-devtestlabs
azure-mgmt-dns
azure-mgmt-eventgrid
azure-mgmt-eventhub
azure-mgmt-hanaonazure
azure-mgmt-iotcentral
azure-mgmt-iothub
azure-mgmt-iothubprovisioningservices
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-logic
azure-mgmt-machinelearningcompute
azure-mgmt-managementgroups
azure-mgmt-managementpartner
azure-mgmt-maps
azure-mgmt-marketplaceordering
azure-mgmt-media
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-network
azure-mgmt-notificationhubs
azure-mgmt-nspkg
azure-mgmt-policyinsights
azure-mgmt-powerbiembedded
azure-mgmt-rdbms
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-redis
azure-mgmt-relay
azure-mgmt-reservations
azure-mgmt-resource
azure-mgmt-scheduler
azure-mgmt-search
azure-mgmt-servicebus
azure-mgmt-servicefabric
azure-mgmt-signalr
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-subscription
azure-mgmt-trafficmanager
azure-mgmt-web
azure-nspkg
azure-servicebus
azure-servicefabric
azure-servicemanagement-legacy
azure-storage-blob
azure-storage-common
azure-storage-file
azure-storage-queue
backports.csv
backports.functools-lru-cache
beautifulsoup4
certifi
cffi
chardet
cheroot
CherryPy
Click
colorama
cycler
feedparser
Flask
future
gunicorn
idna
isodate
isort
itsdangerous
jaraco.functools
Jinja2
kiwisolver
lazy-object-proxy
lxml
MarkupSafe
matplotlib
mccabe
more-itertools
msrest
msrestazure
mysqlclient
nltk
numpy
oauthlib
pandas
Pattern
pdfminer.six
portend
prettytable
pycparser
pycryptodome
PyJWT
pylint
pyodbc
pyOpenSSL
pyparsing
python-dateutil
python-docx
pytz
requests
requests-oauthlib
scikit-learn
scipy
singledispatch
sklearn
sortedcontainers
soupsieve
style
subprocess32
tempora
typed-ast
update
urllib3
virtualenv
Werkzeug
wrapt
zc.lockfile
